save_folder: <absolute path to the folder where the repositories will be saved>
ssh_key: <absolute path to your SSH private key authorized to pull repositories>
healthcheck_url: <healthcheck_url>

forges:
  - type: gitlab
    url: "https://gitlab.com"
    token: <personnal token>

  - type: gitlab
    name: acme
    url: "https://gitlab.acme.com"
    token: <personnal token>
    sleep: 3  # optional, only for GitLab forges, sleep 3 seconds between each repository, can avoid hitting rate limits

  - type: github
    token: <personnal token, scope repo:status is sufficient>
    exclude:
      - johndoe/foo  # do not save this repository
