save_folder: <absolute path to the folder where the repositories will be saved>
ssh_key: <absolute path to your SSH private key authorized to pull repositories>
healthcheck_url: <healthcheck_url>

forges:
  - type: gitlab
    url: "https://gitlab.com"
    token: <personnal token>

  - type: gitlab
    name: acme
    url: "https://gitlab.acme.com"
    token: <personnal token>

  - type: github
    token: <personnal token, scope repo:status is sufficient>
